<!DOCTYPE html>
<html>
  <head>
    <title>Behind The Curtain</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body class="behindCurtain-body">
    <header>
      <h1>You Made It To The Super Terrifc Secret Place!</h1>
    </header>
    <main>
      <h4>Welcome, {{user.id}}</h4>
      <form action="/behindCurtain" method="POST">
        <button type="submit">LOG OUT</button>
      </form>

    </main>

  </body>
</html>
