<!DOCTYPE html>
<html>
  <head>
    <title>Form Login</title>
    <meta charset="utf-8">

  </head>
  <body>
    <header id="header">
      <h1>Form Login Page</h1>
    </header>
    <main>
      <h3>Click the Appropriate Task Below</h3>
      <h4><a href="/login">Log In</a></h4>
      <h4><a href="/signup">Sign Up</a></h4>
    </main>

  </body>
</html>
