<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body class="signup-body">
    <header>
      <h1>Sign Up For Our Great Site</h1>
    </header>
    <main>
      <h3>Please Select a Username and Password and Enter Them Below</h3>
      <form action="/signup" method="POST">
        <input name="id" type="text" placeholder="Username" required/>
        <input name="password" type="password" placeholder="Password" required/>
        <button name="signupButton" type="submit">Sign Up!</button>
      </form>

    </main>

  </body>
</html>
